*
{padding: 0px;
 margin: 0px;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
 background-color: #f1dfd1;
background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}
h1
{
text-align: center;
color:purple;
}
.navigation
{
position: fixed;
top: 5px;
left: 0px;
width: 60px;
height: 100vh;
background-color: #ffff;
border-top-right-radius: 10px;
border-bottom-right-radius:10px;
overflow: hidden;
white-space: nowrap;
box-shadow: 0px 0px 20px #d4d4d4;
transition: 0.5s ease;
}

.navigation:hover
{
 width: 300px;

}
 .navigation .navlists
 {
     padding: 10px ;
     cursor: pointer;

 }
.navigation .navlists:hover
{
background-color: cornsilk;
}


 .navigation .navlists .fa
 {
  font-size: 20px;
  width: 30px;
  padding: 10px;
 }

 .navigation .navlist
 {
  padding: 10px;
}
.navigation .navlist:hover
{
    background: #f1dfd1 ;
}
 .navlist .fa
{ 
  margin-left:20px ;
  width: 30px;
  padding: 15px;  
}

 .wrapper
 {
 display: flex;
 float: right;
}
.wrapper img
{
margin-right: 70px;
}

h2
{
margin-right: 40 px;
}
 main {
    grid-area: main;
    overflow-y: auto;
  }
  
  .main__container {
    padding: 20px 35px;
  }
  
  .main__title {
    display: flex;
    align-items:center;
    margin-left: 60px;
  }
  
  .main__title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .main__greeting > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
  }
  
  .main__greeting > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
  }
  
  .main__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
    margin-left:60px; 
  }
  
  .card {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    height: 140px;
    padding: 15px;
    border-radius: 5px;
    background: #f1dfd1;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  }

  .card .fa
  {
   margin-left: 100px;

  }
  
  .card_inner {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card_inner p
  {
      display: block;
      font-size: 25px;
  }

  .card_inner .span
  {
      display: block;
      font-size: 25px;    
   }
 
.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
    margin-left: 570px;
    width: 500px;
  }

  .charts__right {
    padding: 15px;
    border-radius: 5px;
    width: 700px;
    background: #f1dfd1 ;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  }
  
  .charts__right__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .charts__right__title > div > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
  }
  
  .charts__right__title > div > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
  }
  
  .charts__right__title > i {
    color: #ffffff;
    font-size: 20px;
    background: #39447a;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius: 200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
  }
  
  .charts__right__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;

  }
  
  .card1 {
    background:#ededed ;
    color:#552586;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .card2 {
    background: #ededed;
    color:#552586;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .card3 {
    background:#ededed ;
    color: #552586;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .card4 {
    background: #ededed;
    color: #552586;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 12px;
  }