<%- include('../partials/operatorNav.ejs') %>
    <div class="bg-img" style="background: url('/images/bg.jpg');background-size: cover;">
        <div class="main">
            <div class="register">
                <h2>Add Bus</h2>
                <form action="/api/buses" method="POST" enctype="multipart/form-data" id="register">
                    <label for="busNo">Bus NO</label>
                    <br>
                    <input type="text" name="busNo" id="name">
                    <br><br>
                    <label for="busNAme">Bus Name</label>
                    <br>
                    <input type="text" id="name" name="busName" id="name">
                    <br><br>
                    <label for="type">Type</label>
                    <br>
                    <input type="text" name="type" id="name">
                    <br><br>
                    <label for="image">Image</label>
                    <br>
                    <input type="file" name="image" id="name">
                    <br><br>

                    <div class="primary">
                        <button type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>